@font-face {
  font-family: "iconfont"; /* Project id 2324465 */
  src: url('iconfont.woff2?t=1620015942280') format('woff2'),
       url('iconfont.woff?t=1620015942280') format('woff'),
       url('iconfont.ttf?t=1620015942280') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line:before {
  content: "\e63f";
}

.icon-slack:before {
  content: "\e747";
}

.icon-amazon:before {
  content: "\e623";
}

.icon-okta:before {
  content: "\e641";
}

.icon-ximalayadiantai:before {
  content: "\e7bd";
}

.icon-iconpingtaimeituan01:before {
  content: "\e665";
}

.icon-baidu:before {
  content: "\e650";
}

.icon-ai-qq:before {
  content: "\e630";
}

.icon-alipay:before {
  content: "\e60d";
}

.icon-xiaomi:before {
  content: "\e661";
}

.icon-weibo:before {
  content: "\e63e";
}

.icon-renren:before {
  content: "\e703";
}

.icon-CN_csdnnet:before {
  content: "\e64f";
}

.icon-taobao:before {
  content: "\e709";
}

.icon-weixin:before {
  content: "\e82c";
}

.icon-kujialeicon:before {
  content: "\e657";
}

.icon-oschina_grey:before {
  content: "\e600";
}

.icon-pinterest:before {
  content: "\e7a8";
}

.icon-changyonglogo40:before {
  content: "\e601";
}

.icon-dingding:before {
  content: "\e617";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-huawei:before {
  content: "\ebc3";
}

.icon-aliyun:before {
  content: "\e620";
}

.icon-toutiaoyangshi:before {
  content: "\e622";
}

.icon-teambition:before {
  content: "\e687";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-PCduan_feishu:before {
  content: "\e7a2";
}

.icon-qiyeweixin:before {
  content: "\e6af";
}

